
experiments_dir: 'C:/AIC data/Shared/amod-data/VGA Evaluation/experiments/'

experiment_name: 'vga-lim30ms-sw-weight0'

amodsim_experiment_dir: $experiments_dir + $experiment_name + '/'
trips_file_path: 'C:/AIC data/Shared/amod-data/VGA Evaluation/trips.txt'
# common data for all experiments
amodsim_data_dir: 'C:/AIC data/Shared/amod-data/VGA Evaluation/'

# 10:30
start_time: 37800000

ridesharing:
{
	method: 'vga'

	vga:
	{
		# limit for the VGA solver
		solver_time_limit: 30

		group_generation_time_limit: 30000
	}
}


rebalancing:
{
	external:
	{
		policy_file_path: $amodsim_data_dir + 'policy.json'
	}
}

!parent
agentpolis:
{
	visio:
	{
		show_visio: false
	}
}


