
*.log
*.ser
*.iml
*.pyc

data
/data.zip

nbactions*.xml
nb-configuration.xml
/target/
/log.txt
/result.json

/trip_cache.json
/allEdgesLoadHistory.json
/src/main/python/.idea/

maptiles/
log/

# Python
*.egg-info/

.project
.classpath

# Idea
.idea/
