
*.log
*.ser
*.iml
*.pyc

data

nbactions*.xml
nb-configuration.xml
/target/
/log.txt
/result.json

/trip_cache.json
/allEdgesLoadHistory.json
/src/main/python/.idea/
/src/main/java/cz/agents/amodsim/config/
/src/main/java/cz/agents/amodsim/LocalConfig.java

maptiles/
log/

# Python
*.egg-info/

.project
.classpath

# Idea
.idea/
