simod_data_dir: 'data/'

# experiment_name: 'test_insertion'
experiment_name: 'test01'

trips_filename: 'trips'
packages_filename: 'packages'
# trips_filename: 'trips_all_orig'

packages_on: true

trips_multiplier: 1.0
start_time: 81000000
# start_time: 0

rebalancing:
{
	on: false
}

ridesharing:
{
	on: true

	method: 'people-freight-heuristic'
# 	method: 'insertion-heuristic'
}

agentpolis:
{
    # srid for New York
    srid: 32618
}
