experiment_name: 'vga-constraint3min'
#experiment_name: 'IH-constraint3min'
#experiment_name: 'test'
experiment_dir: 'C:\AIC data\Shared\amod-data\VGA Evaluation\experiments/' + $experiment_name + '/'
trips_file_path: 'C:\AIC data\Shared\amod-data\agentpolis-experiment\VGA/trips.txt'


ridesharing:
{
	method: 'vga'
	weight_parameter: 0.5
	#weight_parameter: 0.0

	# 15 min
	#max_prolongation_in_seconds: 900

	# 12 min
	#max_prolongation_in_seconds: 720

	# 10 min
	#max_prolongation_in_seconds: 600

	# 7 min
	#max_prolongation_in_seconds: 420

	# 5 min
	#max_prolongation_in_seconds: 300

	# 3 min
	max_prolongation_in_seconds: 180

	#vga:
	#{

	#}
}
	
rebalancing:
{

	# 1 minute
	period: 60

	buffer: 0.25
}

