simod_data_dir: 'data/'

experiment_name: 'PASS_STOPS_version/20k_10h_static'

packages_on: true
trips_filename: 'trips_doubled_static_20k'
packages_filename: 'packages_doubled_static_20k'
packages_max_delay: 36000
packages_capacity: 100

vehicles_per_station: 10

trips_multiplier: 1.0
start_time: 0

travel_time_provider: 'dm'


rebalancing:
{
	on: false
}

ridesharing:
{
	on: true

	method: 'people-freight-heuristic'

    max_prolongation_in_seconds: 600
}

agentpolis:
{
    # srid for New York
    srid: 32618

    # 21 hours
    simulation_duration:
    {
        days: 0
        hours: 12
        minutes: 0
        seconds: 0
    }
}
