simod_data_dir: 'C:/AIC Experiment Data/VGA Manhattan/'
experiments_dir: 'C:/AIC Experiment Data/VGA Manhattan/experiments/'

experiment_name: 'ih-batch_90_s'

data_dir: $simod_data_dir

travel_time_provider: 'dm'

# 18:30
start_time: 66600000

ridesharing:
{

	batch_period: 90

	max_prolongation_in_seconds: 270
	
}

#!parent
agentpolis:
{
	srid: 32618

	visio:
	{
		show_visio: false
	}

	
	#map_dir: $agentpolis.data_dir + "maps/"	

	map_edges_filepath: $map_dir + 'edges_with_measured_speed.geojson'

	use_measured_speed: true

}

map_envelope:
[
	40.70
	-74.06
	40.82
	-73.87
]

area_name: "New York County"

#uber_speeds_file_path: "O:/AIC data/data/speeds/manhattan-2018-05-saturdays-aggregated.csv"

